<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= title %></title>
<meta name="description" content="info.trueto.cn是trueto用nodejs搭建的记事站，用于记录trueto的学习与成长历程！">
<meta name="keywords" content="nodejs,express,mysql">
<meta name="author" content="trueto">
<meta name="robots" content="/,/job,/edit">
<meta name="application-name" content="info">
</head>
<!--屏蔽流氓带宽-->
<style>
  body > iframe{
    opacity:0;
    display:none;
  }
  div#footApp ~ div {
    display: none;
    opacity:0;
  }
</style>
<link rel="icon" href="/static/img/info.jpg" type="image/x-icon" />
<!--bootstrap-->
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<!--reactjs-->
<script src="/static/js/react.min.js"></script>
<script src="/static/js/react-dom.min.js"></script>
<script src="/static/js/brower.js"></script>
<!--css-->
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.css"/>
<body>
<div id="menuApp"></div>
<script type="text/babel">
    var MenuApp=React.createClass({
        getInitialState:function() {
          var data={
            brand:{
              url:"/",
              title:"TrueTo"
            },
            first:[
              {
                url:"/",
                title:"首页"
              },
              {
                url:'/edit',
                title:"记录"
              }
            ],
            second:{
                url:"/photo",
                title:"图片"
            },
            third:{
                url:"/job",
                title:"简历"
            },
            forth:{
              url:"/download",
              title:"下载"
            }
          };
          return data;
        },
        render:function(){
            return(
                <nav className="navbar navbar-default">
                    <div className="container">
                    <Header data={ this.state }/>
                    <Menu data={ this.state }/>
                    </div>
                </nav>
            );
        }
    });
    var Header=React.createClass({
      render:function() {
        var data=this.props.data.brand;
        return(
          <div className="navbar-header">
            <button type="button" className="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu">
              <i className="fa fa-bars"></i>
            </button>
            <a href={ data.url } className="navbar-brand">
              { data.title }
            </a>
          </div>
        );
      }
    });
    var Menu = React.createClass({
      render:function() {
        var data=this.props.data;
        return(
          <div className="collapse navbar-collapse" id="navbar-menu">
            <ul className="nav navbar-nav navbar-right">
              <li role="presentation" className="dropdown">
                <a className="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                   学习<span className="caret"></span>
                </a>
                <ul className="dropdown-menu">
                  <li id="study"><a href={ data.first[0].url }>{ data.first[0].title }</a></li>
                  <li id="edit"><a href={  data.first[1].url }>{ data.first[1].title }</a></li>
                </ul>
              </li>
              <li id="photo"><a href={ data.second.url }>{ data.second.title }</a></li>
              <li id="resume"><a href={ data.third.url }>{ data.third.title }</a></li>
              <li id="download"><a href={ data.forth.url }>{ data.forth.title }</a></li>
            </ul>
          </div>
      );
      }
    });
    ReactDOM.render(
        <MenuApp />,
        document.getElementById('menuApp')
    );
</script>
